:root {
    --color-accent: #6800c9;
}

.pdf {
    height: 100%;
    width: 100%;
    z-index: 2;
}

.pdf--hidden {
    display: none;
}

.pdf__wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    resize: both;
    height: 500px;
    width: 600px;
}

.pdf__wrapper::-webkit-resizer {
    position: absolute;
    width: .25rem;
    height: .25rem;
    border-radius: .2rem;
    background-color: var(--color-accent);
}

.pdf__wrapper:hover {
    outline: solid var(--color-accent) .1rem;
}

.pdf__placeholder {
    display: none;
    height: 100%;
    width: 100%;
    background-color: grey;
}

.pdf__placeholder__title {
    display: block;
    color: white;
    text-align: center;
    width: 100%;
}

.pdf__placeholder--show {
    display: block;
}

.pdf__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}
