:root {
    --color-accent: #6800c9;
}

.resizer_container {
    padding-bottom: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    resize: both;
    height: 500px;
    width: 600px;
}

.resizer_container::-webkit-resizer {
    width: .25rem;
    height: .25rem;
    border-radius: .2rem;
    background-color: var(--color-accent);
}

.resizer_container:hover {
    outline: solid var(--color-accent) .1rem;
}

.pdf__container {
    position: relative;
    height: 100%;
    width: 100%;
}

.pdf {
    height: 100%;
    width: 100%;
}

.pdf__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
